/*$style__bacground: linear-gradient(
	90deg,
	rgba(212, 178, 0, 1) 0%,
	rgba(255, 207, 103, 1) 35%,
	rgba(237, 209, 44, 1) 100%
);
*/
$style__bacground: linear-gradient(90deg, rgb(245, 200, 0) 0%, rgb(239, 207, 0) 35%, rgb(255, 208, 0) 100%);

$header__height: 8rem;
$header__logo_width: $header__height * 0.7;
$header__logo_height: $header__logo_width;

$nav__width: 100%; // Ширина Aside
$nav__height: 3.5rem;
$nav_btn__color: rgb(52, 52, 52);
$nav_btn__font_size: 1rem;
$nav_btn__width: 8%;
$nav_btn__padding: 0.5rem 0.1rem;
$nav_btn__color__border: rgb(218, 218, 218);

$aside_logo__height: $nav__height;
$aside__width: 0%; // Ширина Aside

$main__width: 100% - $aside__width; // Ширина Main

$btn_background__color: rgb(26, 115, 232); // Кнопка - цвет фона
$btn__color: rgb(255, 255, 255); // Кнопка -цвет шрифта
$btn__width: 12rem; // Кнопка - ширина
$btn__height: 4rem; // Кнопка - высота
$btn__padding: 1rem 1rem; // Кнопка - внутренние отступы
