$color_btnBorder: rgba(228, 228, 228, 0.438);

.nav {
	width: $nav__width;
	height: $nav__height;
	z-index: 499;
	//	position: sticky;
	//	top: 0;
	width: 100%;
	max-width: 100%;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	//border-bottom: solid silver 0.05rem;
	.nav__container {
		display: flex;
		margin: 0 auto;
		width: 100%;
		max-width: 100%;
		height: 100%;
		align-items: stretch;
		border-bottom: solid gray 1px;
		background: $style__bacground;
		//	border: $color_btnBorder solid 0.05rem;
		border-bottom: solid rgb(43, 43, 43) 0.05rem;
		//	border-bottom: solid gray 1px;
		.nav__wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			max-width: 100%;
			align-items: stretch;

			.ta_container {
				justify-content: center;
				align-items: stretch;

				.btn {
					display: flex;
					min-height: 2rem;
					width: 5rem;
					border-left: $nav_btn__color__border solid 0.05rem;
					border-right: $nav_btn__color__border solid 0.05rem;
					min-width: $nav_btn__width;
					height: 100%;
					justify-content: center;
					overflow: hidden;
					align-items: stretch;
					padding: 0 0.5rem;
					.btn__container {
						display: flex;
						width: 100%;
						align-items: stretch;
						padding: $nav_btn__padding;
						.btn__wrapper {
							display: flex;
							width: 100%;
							justify-content: center;
							align-items: center;
							.btn__link {
								display: inline-flex;
								width: 100%;
								height: 100%;
								color: $nav_btn__color;
								font-weight: bold;
								cursor: pointer;
								font-size: $nav_btn__font_size;

								align-items: center;
								justify-content: center;
								text-align: center;
								//word-break: break-all;
							}
						}
					}
				}

				.btn_main {
					border: none;
				}

				.btn:hover {
				}
			}
		}
	}
}
