@charset "UTF-8";
/* Блок последней новости страницы */
* {
  font-family: "Open Sans", sans-serif;
}

.arrow_img-svg path {
  fill: #841844;
}

.block-last_news {
  width: 100%;
}
.block-last_news .last_news {
  width: 100%;
  height: 45rem;
}
.block-last_news .last_news .last_news-container {
  height: 100%;
  background: 0 45%/100% auto no-repeat;
}
.block-last_news .last_news .last_news-container .last_news-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-last_news .last_news .last_news-container .last_news-wrapper .block_news-text {
  display: block;
  text-align: left;
}
.block-last_news .last_news .last_news-container .last_news-wrapper .block_news-text * {
  cursor: pointer;
}
.block-last_news .last_news .last_news-container .last_news-wrapper .block_news-text .last_news_title {
  width: 100%;
  margin-bottom: 2.5rem;
}
.block-last_news .last_news .last_news-container .last_news-wrapper .block_news-text .last_news_title .last_news_title-container .last_news_title-wrapper .last_news_title-text {
  font-size: 5rem;
  color: #ffffff;
  font-style: normal;
}
.block-last_news .last_news .last_news-container .last_news-wrapper .block_news-text .last_news_announce {
  width: 100%;
  margin-bottom: 4rem;
}
.block-last_news .last_news .last_news-container .last_news-wrapper .block_news-text .last_news_announce .last_news_announce-container .last_news_announce-wrapper .last_news_announce-text {
  font-size: 2.5rem;
  color: #ffffff;
  font-style: normal;
}

/* Блок Новостей страницы */
/* Блок Title страницы */
.block-title_page {
  width: 100%;
  text-align: left;
  padding: 2rem 0;
}
.block-title_page .title_page .title_page-container .title_page-wrapper .title_page-text {
  font-size: 3rem;
  font-weight: 600;
}

/* Блок  карточки новостей */
.block-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block-items .block-news_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
  margin: 1.5rem 0;
}
.block-items .block-news_item .news_item {
  width: 100%;
  text-align: left;
}
.block-items .block-news_item .news_item .news_item-container .news_item-wrapper .item_date .item_date-container .item_date-wrapper .item_date-text {
  display: inline-block;
  width: 8rem;
  margin: 1rem;
  background: #ecf2f5;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
}
.block-items .block-news_item .news_item .news_item-container .news_item-wrapper .item_title .item_title-container .item_title-wrapper .item_title-text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}
.block-items .block-news_item .news_item .news_item-container .news_item-wrapper .item_announce {
  padding: 2rem 0;
}
.block-items .block-news_item .news_item .news_item-container .news_item-wrapper .item_announce .item_announce-container .item_announce-wrapper .item_announce-text {
  font-size: 1.2rem;
  line-height: 160%;
}
.block-items .block-news_item .item_link {
  width: 100%;
}
.block-items .block-news_item .item_link .item_link-container {
  text-align: left;
}
.block-items .block-news_item .item_link .item_link-container .item_link-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 15rem;
  height: 3.5rem;
  border: 0.2rem solid #9b407a;
  border-radius: 2rem;
}
.block-items .block-news_item .item_link .item_link-container .item_link-wrapper .item_link-text {
  display: inline-block;
  text-transform: uppercase;
  color: #841844;
  font-weight: 600;
  margin-right: 0.5rem;
}
.block-items .block-news_item .item_link .item_link-container .item_link-wrapper .arrow-img {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
.block-items .block-news_item .item_link .item_link-container .item_link-wrapper:hover {
  cursor: pointer;
  background: #841844;
}
.block-items .block-news_item .item_link .item_link-container .item_link-wrapper:hover * {
  color: #ffffff;
  cursor: pointer;
}
.block-items .block-news_item .item_link .item_link-container .item_link-wrapper:hover .arrow_img-svg path {
  fill: #ffffff;
}

.block-count_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-count_pages .count_pages {
  width: 100%;
}
.block-count_pages .count_pages .count_pages-container {
  width: 100%;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .number {
  display: inline-block;
  margin: 0 0.3rem;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .number * {
  cursor: pointer;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .number .number-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border: 0.2rem solid #841844;
  border-radius: 50%;
  font-weight: 600;
  color: #9b407a;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .number .number-container .number-wrapper {
  display: inline-block;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .number .number-container .number-wrapper .number-text {
  display: inline-block;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .arrow {
  display: inline-block;
  padding: 2rem 0;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .arrow * {
  cursor: pointer;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .arrow .arrow-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7rem;
  height: 3.5rem;
  border: 0.2rem solid #9b407a;
  border-radius: 1.5rem;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .arrow .arrow-container .arrow-wrapper {
  display: inline-block;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .arrow .arrow-container .arrow-wrapper .arrow-text {
  display: inline-block;
  text-align: center;
  width: 50%;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .arrow .arrow-container .arrow-wrapper .arrow-text .arrow-img {
  width: 100%;
  height: 2rem;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .number-container:hover,
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .arrow-container:hover {
  color: #ffffff;
  background: #841844;
}
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .number-container:hover .arrow_img-svg path,
.block-count_pages .count_pages .count_pages-container .count_pages-wrapper .arrow-container:hover .arrow_img-svg path {
  fill: #ffffff;
}