nav {
  width: 100%;
  height: 3.5rem;
  z-index: 499;
  position: sticky;
  top: 0;
}
nav .nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-bottom: solid gray 1px;
  background: rgb(128, 128, 128);
}
nav .nav__container .nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
nav .nav__container .nav__wrapper .ta_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
nav .nav__container .nav__wrapper .ta_container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 2rem;
  width: 5rem;
  border-left: rgb(218, 218, 218) solid 0.05rem;
  border-right: rgb(218, 218, 218) solid 0.05rem;
  min-width: 8%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 0.5rem;
}
nav .nav__container .nav__wrapper .ta_container .btn .btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
nav .nav__container .nav__wrapper .ta_container .btn .btn__container .btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
nav .nav__container .nav__wrapper .ta_container .btn .btn__container .btn__wrapper .btn__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 0.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
nav .nav__container .nav__wrapper .ta_container .btn_main {
  border: none;
}
aside {
  width: 20%;
  min-height: 100%;
  background-color: rgb(128, 128, 128);
  position: fixed;
  top: 0;
  z-index: 999;
}
aside .aside_container {
  width: 100%;
  height: 100%;
}
aside .aside_container .aside_wrapper {
  width: 100%;
  height: 100%;
}
aside .aside_container .aside_wrapper .logo {
  width: 100%;
  height: 3.5rem;
  background: rgb(0, 0, 0);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: 80%;
  margin-left: 20%;
  padding: 0 0 3rem 0;
}

.block-page_title {
  width: 70%;
  padding: 1.5rem 0;
}
.block-page_title .page_title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2, 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(245, 244, 244);
  background: rgb(225, 225, 225);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
.block-page_title .page_title-container .page_title-wrapper .page_title-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.block-btn {
  width: 12rem;
  height: 4rem;
  padding: 1rem 1rem;
}
.block-btn .btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.block-btn .btn__wrapper .btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.block-btn .btn__wrapper .btn__container .btn {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: bolder;
  background: rgb(26, 115, 232);
  color: rgb(255, 255, 255);
  padding: 0 0.5rem;
}
.block-btn .btn__wrapper .btn__container .btn__reset {
  background: rgb(255, 1, 1);
}