main {
	display: flex;
	flex-wrap: wrap;
}
.page_title {
	width: 100%;
	max-width: 100%;
}
.aside_catalog {
	width: 14%;
	min-height: 50vh;
	border: solid black 0.1rem;
	.asside__btn_all-link {
		display: inline-block;
		width: 100%;
		padding: 0.2rem;
	}
	.asside__btn_all-link:hover {
		font-weight: bold;
	}
	table {
		width: 100%;
		border-top: solid black 0.1rem;
		tr {
			th {
				display: block;
				font-weight: 1.2rem;
				padding: 0.5rem;
				border-bottom: solid black 0.1rem;
				background: rgb(235, 235, 235);
			}
		}
	}
}
.page {
	background: none;
	width: 85%;
	table {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		caption {
			width: 100%;
			font-size: 1.5rem;
			font-weight: bold;
			padding: 0.5rem;
		}
	}
	tr {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		td,
		th {
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			width: 10rem;
			min-height: 2rem;
			padding: 0.5rem;
			border: solid black 0.1rem;
			flex-wrap: wrap;
		}
		td {
			border-top: none;
			ol {
				width: 100%;
			}
			li {
				display: inline-block;
				width: 100%;
				padding: 0.3rem 0;
				text-align: left;
			}
			li:before {
				font-size: 1.2rem;
				font-weight: bold;
				content: "- ";
			}
		}
		td:not(:last-child),
		th:not(:last-child) {
			border-right: none;
		}
	}
	.th-price {
		width: 7rem;
	}
	.th-section {
		width: 15rem;
	}
	.th-type {
		width: 10rem;
	}
	.th-currency {
		width: 5rem;
	}
	.th-visible {
		width: 7rem;
	}
	.td-btn {
		font-size: 1.1rem;
		background: rgba(197, 197, 197, 0.554);
	}
	.td-btn-link {
		display: inline-block;
		width: 100%;
		margin: auto;
	}
	.td-btn-link:hover {
		font-weight: bold;
	}
	.th-btn {
		border-top: none;
		border-right: none;
	}
}
